Github repository is here: https://github.com/ong8181/DASC3240

# R Basics – Introduction to R
The contents basically follow this website (https://datacarpentry.org/R-ecology-lesson/01-intro-to-r.html), but some contents are omitted/modified so that they fit OCES 3240.

## References
- Data Analysis and Visualization in R for Ecologists: https://datacarpentry.org/R-ecology-lesson
- R basics: https://datacarpentry.org/R-ecology-lesson/01-intro-to-r.html
- Zenodo archive: http://doi.org/10.5281/zenodo.3264888
- License: https://github.com/datacarpentry/R-ecology-lesson?tab=License-1-ov-file

# Contents
1. Creating objects in R
2. Vectors and data types
3. Missing data
4. `for` and `if`

# 1. Creating objects in R
You can get output from R simply by typing math in the console:

In [ ]:
3 + 5

In [ ]:
12/7

However, to do useful and interesting things, we need to assign values to objects. To create an object, we need to give it a name followed by the assignment operator `<-` (or you may use `=`), and the value we want to give it:

In [ ]:
weight_kg <- 55

`<-` is the assignment operator we will use in this course. It assigns values on the right to objects on the left. So, after executing `x <- 3`, the value of `x` is `3`. For historical reasons, you can also use = for assignments, but not in every context. Because of the slight differences in syntax, it is good practice to always use `<-` for assignments. You may use a shortcut (e.g., "Alt" + "-") to type `<-` (depends on your platform).

Objects can be given almost any name such as `x`, `current_temperature`, or `subject_id`. Here are some further guidelines on naming objects:

- You want your object names to be explicit and not too long.
- **They cannot start with a number** (`2x` is not valid, but `x2` is).
- R is **case sensitive**, so for example, `weight_kg` is different from `Weight_kg`.
- There are some names that cannot be used because they are the names of fundamental functions in R (e.g., `if`, `else`, for, see [here](https://stat.ethz.ch/R-manual/R-devel/library/base/html/Reserved.html) for a complete list).
- It’s best to avoid dots (`.`) within names. Many function names in R itself have them and dots also have a special meaning (methods) in R and other programming languages. I recommend to use underbar (`_`) instead.
- It is recommended to use nouns for object names and verbs for function names.

When assigning a value to an object, R does not print anything. You can force R to print the value by using parentheses or by typing the object name:

In [ ]:
weight_kg <- 55    # doesn't print anything
(weight_kg <- 55)  # but putting parenthesis around the call prints the value of `weight_kg`
weight_kg          # and so does typing the name of the object

Assigning a value to one object does not change the values of other objects. For example, let’s store the animal’s weight in pounds in a new object, `weight_lb`:

In [ ]:
weight_lb <- 2.2 * weight_kg

and then change `weight_kg` to 100.

In [ ]:
weight_kg <- 100

What do you think is the current content of the object `weight_lb`? `126.5` or `220`?

### Comments
The comment character in R is "#". Anything to the right of a "#" in a script will be ignored by R. **It is useful to leave notes and explanations in your scripts (because you will forget why you wrote the code!)**. For convenience, RStudio provides a keyboard shortcut to comment or uncomment a paragraph: after selecting the lines you want to comment, press at the same time on your keyboard **"Ctrl + Shift + C"**. If you only want to comment out one line, you can put the cursor at any location of that line (i.e. no need to select the whole line), then press Ctrl + Shift + C.

### Functions and their arguments
Functions are “canned scripts” that automate more complicated sets of commands including operations assignments, etc. Many functions are predefined, or can be made available by importing _R packages_ (more on that later). A function usually takes one or more inputs called arguments. Functions often (but not always) return a value. A typical example would be the function `sqrt()`. An example of a function call is:

weight_kg <- sqrt(10)
weight_kg

Let’s try a function that can take multiple arguments: `round()`.

In [ ]:
round(3.14159)

Here, we’ve called `round()` with just one argument, `3.14159`, and it has returned the value `3`. That’s because the default is to round to the nearest whole number. We can use `args(round)` or `?round` to find more information.

In [ ]:
args(round)

In [ ]:
?round

We see that if we want a different number of digits, we can type `digits = 2` or however many we want.

In [ ]:
round(3.14159, digits = 2)

If you provide the arguments in the exact same order as they are defined you don’t have to name them:

In [ ]:
round(3.14159, 2)

And if you do name the arguments, you can switch their order:

In [ ]:
round(digits = 2, x = 3.14159)

# 2. Vectors and data types
A vector is the most common and basic data type in R, and is pretty much the workhorse of R. A vector is composed by a series of values, which can be either numbers or characters. We can assign a series of values to a vector using the `c()` function (perhaps it stands for "combine" or "concatenate"). For example we can create a vector of animal weights and assign it to a new object `weight_g`:

In [ ]:
weight_g <- c(50, 60, 65, 82)
weight_g

A vector can also contain characters:

In [ ]:
animals <- c("mouse", "rat", "dog")
animals

You can check the length and class (= data type) using `length()` and `class()`, respectively.

In [ ]:
length(weight_g)
length(animals)
class(weight_g)
class(animals)

The function `str()` provides an overview of the structure of an object and its elements. It is a useful function when working with large and complex objects:

In [ ]:
str(weight_g)
str(animals)

An **atomic vector** is the simplest R data type and is a linear vector of a single type. Above, we saw 2 of the 6 main atomic vector types that R uses: **"character"** and **"numeric"** (or **"double"**). These are the basic building blocks that all R objects are built from. The other 4 atomic vector types are:
- **"logical"** for `TRUE` and `FALSE` (the boolean data type)
- **"integer"** for integer numbers (e.g., `2L`, the `L` indicates to R that it’s an integer)
- **"complex"** to represent complex numbers with real and imaginary parts (e.g., `1 + 4i`) and that’s all we’re going to say about them
- **"raw"** for bitstreams that we won’t discuss further

You can check the type of your vector using the `typeof()` function and inputting your vector as the argument.

Vectors are one of the many **data structures** that R uses. Other important ones are lists (**list**), matrices (**matrix**), data frames (**data.frame**), factors (**factor**) and arrays (**array**).

### Challenge
- Please make a vector that contains multiple types (e.g., "numeric" and "character") and check what happens if you apply `class()` or `typeof()` to the vector.

# 3. Subsetting vectors
If we want to extract one or several values from a vector, we must provide one or several indices in square brackets. For instance:

In [ ]:
animals <- c("mouse", "rat", "dog", "cat")
animals[2]

\[**NOTE**\] How to extract value(s) from a vector is different from Python:
- In R, **indexing starts from 1**, which means that the first element in a vector is assigned the index 1, the second element is assigned the index 2, and so on. For example, if you have a vector `x` with five elements, the first element is `x[1]`, the second element is `x[2]`, and so on.
- In Python, **indexing starts from 0**, which means that the first element in a list is assigned the index 0, the second element is assigned the index 1, and so on. For example, if you have a list `my_list` with five elements, the first element is `my_list[0]`, the second element is `my_list[1]`, and so on.

Other ways to access elements in a vector are as follows:

In [ ]:
animals[c(3, 2)]
more_animals <- animals[c(1, 2, 3, 2, 1, 4)]
more_animals
animals[1:4] # ":" means numbers from 1 to 4 (= 1, 2, 3, and 4)

### Conditional subsetting
Another common way of subsetting is by using a logical vector. `TRUE` will select the element with the same index, while `FALSE` will not:

In [ ]:
weight_g <- c(21, 34, 39, 54, 55)
weight_g[c(TRUE, FALSE, FALSE, TRUE, TRUE)]

Typically, these logical vectors are not typed by hand, but are the output of other functions or logical tests. For instance, if you wanted to select only the values above 50:

In [ ]:
weight_g > 50    # will return logicals with TRUE for the indices that meet the condition
## so we can use this to select only the values above 50
weight_g[weight_g > 50]

You can combine multiple tests using `&` (both conditions are true, AND) or `|` (at least one of the conditions is true, OR):

In [ ]:
weight_g[weight_g > 30 & weight_g < 50]
weight_g[weight_g <= 30 | weight_g == 55]

The list of logical operators is as follows:
- A `&` B: A and B
- A `|` B: A or B
- A `>` B: A is more than B?
- A `<` B: A is less than B?
- A `>=` B: A is more than or equal to B?
- A `<=` B: A is less than or equal to B?
- A `==` B: A is B?
- A `!=` B: A is not B?
- A `%in%` B: Any of the elements of A are found in B?

### Challenge
- Try typing `"four" > "five"` in R console. Check the result and figure out why you get the results.

# 3. Missing data
As R was designed to analyze datasets, it includes the concept of missing data (which is uncommon in other programming languages). Missing data are represented in vectors as `NA`.

When doing operations on numbers (e.g., `sum()` function), most functions will return `NA` if the data you are working with include missing values. This feature makes it harder to overlook the cases where you are dealing with missing data. You can add the argument `na.rm = TRUE` to calculate the result as if the missing values were removed (`rm` stands for ReMoved) first.

In [ ]:
heights <- c(2, 4, 4, NA, 6)
mean(heights)
max(heights)
mean(heights, na.rm = TRUE)
max(heights, na.rm = TRUE)

If your data include missing values, you may want to become familiar with the functions `is.na()`, `na.omit()`, and `complete.cases()`. See below for examples.

In [ ]:
## Extract those elements which are not missing values.
heights[!is.na(heights)]

## Returns the object with incomplete cases removed.
#The returned object is an atomic vector of type `"numeric"` (or #`"double"`).
na.omit(heights)

## Extract those elements which are complete cases.
#The returned object is an atomic vector of type `"numeric"` (or #`"double"`).
heights[complete.cases(heights)]

### Challenge
1. Using this vector of heights in inches, create a new vector, `heights_no_na`, with the `NAs` removed:
   ```
   heights <- c(63, 69, 60, 65, NA, 68, 61, 70, 61, 59, 64, 69, 63, 63, NA, 72, 65, 64, 70, 63, 65)
   ```
3. Use the function `median()` to calculate the median of the heights vector.
4. Use R to figure out how many people in the set are taller than 67 inches.

# `for` and `if`
In R, `for` and `if` do not need an indent. Instead, you can use `{}` to use `for` and `if`. Here are simple examples:

In [ ]:
# Create a for loop I
for (i in 1:10) {
    print(i)
}

In [ ]:
# Create a for loop II
for (i in 1:10) { print(i) }

In [ ]:
# Create a for loop III (should be one linear)
for (i in 1:10) print(i)

In [ ]:
i <- 10

# Create an if statement
if (i %% 2 == 0) {
    print("10 is even")
}

In [ ]:
i <- 10

# Create an if statement
if (i %% 2 == 0) { print(paste(i, "is even")) }

In [ ]:
i <- 9

# Create an if statement
if (i %% 2 != 0) print(paste(i, "is odd"))

In [ ]:
# Slightly complicated example using for and if
## Create a vector of numbers
numbers <- c(1, 2, 3, 4, 5)

## Create a for loop
for (i in 1:length(numbers)) {
  if (numbers[i] %% 2 == 0) {
    print(paste(numbers[i], "is even"))
  } else {
    print(paste(numbers[i], "is odd"))
  }
}